$heading-font: 'PT Sans', 'Helvetica Neue', 'Arial', sans-serif;
$article-font: 'Noto Sans', 'Source Sans Pro', 'Verdana', 'Tahoma', 
               'Hiragino Kaku Gothic Pro', 'Arial Unicode MS', sans-serif;
$menu-font: 'Source Sans Pro', 'Open Sans', 'Helvetica Neue', 'Arial', sans-serif;
$base-font-size: 16px;
// $my-name-color: hsl(205, 60%, 65%);
$my-name-color: hsla(105, 50%, 60%, 1);
$text-color: #444;
$heading-color: #222;
$main-menu-background-color: hsla(0, 0%, 0%, 0.5);
$link-color: hsl(210, 56%, 45%);
$link-color: hsl(210, 56%, 45%);
$link-hover-color: hsl(200, 56%, 0%);
$github-link-color: hsl(110,50%,60%);
$email-link-color: #dd4b39;
$twitter-link-color: hsl(200, 93%, 44%);
$facebook-link-color: hsl(221, 44%, 41%);
$rss-link-color: hsl(25, 85%, 56%);
$text-shadow-color: hsla(0,0%,0%,0.8);
$masthead-background: url('/assets/trees_sunlight_1400x933.jpg');
// $masthead-background: hsl(200,40%,25%);


/*****************************************************************************/
/*
/* Common
/*
/*****************************************************************************/

/* Global Reset */
* {
  margin: 0;
  padding: 0;
}

html, body { height: 100%; }

body {
  background-color: white;
  font: $base-font-size 'Source Sans Pro', 'Verdana', 'Helvetica', 'Arial', sans-serif;
  text-rendering: optimizeLegibility;
  text-align: left;
  color: $text-color;
}

p { margin: 1em 0; }

hr { border: 0; height: 1px; background-color: #ccc; }

a { 
  color: $link-color;
  text-decoration: none;
  &:hover {
    // color: $link-hover-color; 
  }
}

sup { font-size: 80%; line-height: 100%; }


/*****************************************************************************/
/*
/* Home
/*
/*****************************************************************************/

.posts {
  display: block;
  list-style-type: none;
  font-size: 110%;
  text-align: left;

  li {
    line-height: 1.75em;
    font-size: 130%;
    display: block;
    a {
      display: block;
      &:hover {
        color: $link-hover-color;
      }
    }
  }

  .menuarticle {
    clear: both; 
    float: left;
    display: inline-block;
    width: 85%;
  }

  .date {
    color: #aaa;
    display: inline-block;
    float: right;
    font-size: 70%;
  }

}

/*****************************************************************************/
/*
/* Site
/*
/*****************************************************************************/



.socialmedia {
  text-align: center;
  list-style: none;

  li {
    margin-bottom: 8px;
    font-size: 100%;
    line-height: 100%;
    text-align: center;
    a {
      text-decoration: none;
      color: #ccc;
      display: inline-block;
      margin-left: auto;
      margin-right: auto;
      &:hover { color: #333; border: none; }
      &.fa-github:hover { color: $github-link-color; }
      &.fa-envelope:hover { color: $email-link-color; }
      &.fa-twitter:hover { color: $twitter-link-color; }
      &.fa-facebook-square:hover { color: $facebook-link-color; }
      &.fa-rss-square:hover { color: $rss-link-color; }
    }
  }
}

.masthead {
  line-height: 1.5em;
  display: block;
  margin-bottom: 2em;
  padding: 5em 0;
  text-align: center;
  border-bottom: 2px solid #eee;
  background-image: $masthead-background;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;

  .container {
    min-height: 100px;
  }

  &:after {
    content: "";
    display: table;
    clear: both;
  }

  .rootlink-container {
    text-align: center;
    margin-bottom: 2.3em;
  }

  .rootlink {
    display: inline-block;
    .myname {
      display: inline-block;
      font-size: 450%;
      line-height: 100%;
      font-family: $heading-font;
      font-weight: 700;
      letter-spacing: -0.3px;
      text-align: center;
      text-transform: lowercase;
      color: $my-name-color;
      // text-shadow: 1px 1px 1px $text-shadow-color;
    }
    &:hover .myname {
      color: lighten($my-name-color, 10%);
    }
  }

  .subtitle {
    font-size: 140%;
    margin: 0;
    display: none;
  }

  .socialmedia {
    display: inline-block;
    width: 60%;
    margin: 0 0 2.5em 0;
  }

  .socialmedia li {
    font-size: 19px; /* remember it's fa-2x in the markup */
    display: inline-block;
    margin-left: 8%;
    width: 39px;
    text-align: center;
  }

  .socialmedia li:first-child {
    margin-left: 0;
  }

  .socialmedia li a {
    color: #fff;
  }

  .profilepic {
    float: left;
  }

  .main-menu {

    padding: 0.5em 0;
    margin: 0 auto;
    list-style-type: none;
    text-align: center;

    li:hover { background-color: change-color($main-menu-background-color, $alpha: 0.7); }

    a { color: #eee; }

    li {
      width: 32%;
      padding: 0.5em 0;
      margin: 0 0.25%;
      display: inline-block;
      font-size: 130%;
      font-weight: 600;
      background-color: $main-menu-background-color;
      -webkit-border-radius: 20px;
      -moz-border-radius: 20px;
      border-radius: 20px;
      text-shadow: 1px 1px 1px $text-shadow-color;
    }  
  }

}

.content {
  display: block;
  max-width: 578px;
  padding-top: 40px;
  margin: 0 auto;
  font-size: 100%;
  padding-bottom: 100px;
  h1 {
    color: $heading-color;
    font-size: 230%;
    font-family: $heading-font;
    font-weight: bold;
    text-align: left;
    margin-bottom: 0em;
    line-height: 130%;
  }
}

.meta {
  color: #aaa;
  font-size: 120%;
  margin: 1em 0 2em 0;
}

.title {
  display: inline-block;
  font-size: 300%;
  font-weight: 200;
  margin-bottom: 1.5em;
  a {
    color: #035;
  }

  a:hover {
    color: #000;
  }
}


/*****************************************************************************/
/*
/* Posts
/*
/*****************************************************************************/

.post {
  padding-bottom: 2em;
  text-align: left;
  font-size: 120%;
  line-height: 160%;
  font-family: $article-font;
  text-rendering: optimizeLegibility;
  -webkit-font-feature-settings: "kern";
  -moz-font-feature-settings: "kern=1";
  -ms-font-feature-settings: "kern" 1;
  font-feature-settings: "kern";
  h1,
  h2,
  h3,
  h4 {
    color: $heading-color;
    font-family: 'PT Sans', sans-serif;
  }
  p {
    text-align: left;
    margin: 1.6em 0;
  }

  a:hover {
    text-decoration: underline;
  }

  h2 {
    font-size: 130%;
    margin-top: 2em;
    margin-bottom: 1em;
  }

  h3 {
    font-size: 120%;
    font-weight: 600;
    margin-top: 1em;
    margin-bottom: 1em;
  }

  pre {
    font-family: 'Monaco', monospace;
    padding: 0 1em;
  }

  ul, ol {
    padding-left: 1.5em;
    margin-left: 0.5em;
  }

  ul { 
    list-style-type: disc; 
    font-size: 100%;
  }

  ul li, ol li {
    margin-bottom: 0.5em;
  }

  ul.conversation {
    margin-left: 0;
    padding-left: 1em;
    list-style-type: none;
    color: #999;
    border-left: 10px solid #f1f1f1;
  }


  blockquote {
    border-left: 10px solid #f1f1f1;
    color: #999;
    /*margin-left: 1em;*/
    padding-left: 1em;
    font-style: italic;
  }

  code {
    font-family: Monaco, monospace;
    font-size: 90%;
    line-height: 100%;
    background-color: #eee;
    padding: 0 .2em;
    letter-spacing: -0.05em;
    word-break: normal;
    /*border-radius: 5px;*/
  }

  pre code {
    border: none;
    background: none;
    font-size: 14px;
    line-height: 1em;
    letter-spacing: normal;
    word-break: break-all;
  }

  /* terminal */
  pre.terminal {
    border: 1px solid #000;
    background-color: #333;
    color: #FFF;
    font-size: 90%;
    word-break: break-all;
  }

  pre.terminal code {
    background-color: #333;
    word-break: break-all;
  }

  table {
    border-collapse: collapse;
    margin: 2em auto;
  }

  table td,
  table th {
    padding: 5px 15px;
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
  }

  .redtext {
    color: #f00;
  }

  .greytext {
    color: #aaa;
  }

  img {
    max-width: 100%;
  }

  img.rightimg,
  img.leftimg {
    margin-bottom: 5px;
    width: 45%;
  }

  img.rightimg {
    float: right;
    margin-left: 4%;
  }

  img.leftimg {
    float: left;
    margin-right: 4%;
  }
}

/*****************************************************************************/
/*
/* Footer
/*
/*****************************************************************************/

.footer {
  color: #999;
  border-bottom: 2px solid #eee;
  padding: 0.5em 0;
  font-size: 120%;
  line-height: 190%;
  text-align: center;

  i {
    font-size: 150%;
    vertical-align: middle;
  }
  a:hover   { text-decoration: none; }
  a.facebook-share { color: hsl(221, 44%, 41%); }
  a.twitter-share { color: hsl(200, 93%, 44%); }
  a.google-share { color: #dd4b39; }
  .follow-me-link { margin-left: 5px; }
}

.social {
  display: inline-block;
  margin: 0 0.5em;
}

a.rsslink {
  transition: color 0.2s ease;
  color: #ff8b1a;
  text-decoration: none;
  font-size: 22px;

  &:hover {
    color: #444;
    border: none;
  }
}

/*****************************************************************************/
/*
/* Misc (for individual posts)
/*
/*****************************************************************************/

.memorytable {
  /*font-family: 'G', serif;*/
  font-family: 'Noto Sans', sans-serif;
  font-size: 110%;
  font-weight: 300;
  min-width: 85%;
}

.arabic {
  font-family: 'Noto Sans', 'Tahoma', 'Arial Unicode MS', sans-serif;
  text-align: right;
}

.arabic.trans {
  /*font-style: italic;*/
  text-align: left;
}

.big-center-ul {
  margin-left: 0!important;
  padding-left: 0!important;
  text-align: center;
}

.big-center-ul li {
  display: inline;
  font-size: 150%;
  margin-right: 0.6em;
}

.big-center-ul li:last-child {
  margin-right: 0;
}


ul.aboutmelist {
  list-style-type: none;
  padding: 0;
  margin: 1.6em 0 0 0;
}

ul.aboutmelist li:before {
  font-family: inherit;
  /*content: '•';*/
  content: none;
  margin: 0;
  color: #ccc;
}

ul.aboutmelist li {
  margin: 0 0 0.5em 0;
}

.aboutmelist strong {
  font-weight: 600;
}


.projectlist a:hover {
  text-decoration: none;
  color: inherit;
}

.projectlist .container {
  margin-left: 170px;
}

/* Screenshots are all Grabbed at 2x size = 2200 by 1435 on retina */
/* then resized to 300px wide */
.projectlist img {
  width: 150px;
  height: 98px;
  float: left;
  margin-top: 7px;
  padding-right: 1em;
}

ul.projectlist {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

ul.projectlist li {
  min-height: 110px;
  padding: 1em;
  transition: opacity 0.2s ease;
  opacity:0.5;
}

ul.projectlist li a {
  color: inherit;
  display: block;
}

ul.projectlist li:hover {
  background-color: rgba(0,50,100,0.05);
  color: #444;
  opacity:1.0;
}

span.projectlistheading {
  font-weight: 600;
  font-size: 120%;
}

/* 
Tooltip
=========
 */

li.tooltip {

  &:after {
    content: attr(title);
    font-family: $menu-font;
    opacity: 0;
    position: absolute;
    margin-top: 50px;
    margin-left: -50px;
    width: 50px;
    height: 18px;
    padding: 7px;
    font-size: 14px;
    text-align: center;
    border-radius: 15px;
    position: absolute; 
    color: #EEE;
    background-color: rgba(0, 0, 0, 0.7) !important;
    transition: all .3s;
  }
  &:hover:after { 
    opacity: 1;
  } 

}






