@charset "UTF-8";
/*****************************************************************************/
/*
/* Common
/*
/*****************************************************************************/
/* Global Reset */
* {
  margin: 0;
  padding: 0; }

html, body {
  height: 100%; }

body {
  background-color: white;
  font: 16px "Source Sans Pro", "Verdana", "Helvetica", "Arial", sans-serif;
  text-rendering: optimizeLegibility;
  text-align: left;
  color: #444; }

p {
  margin: 1em 0; }

hr {
  border: 0;
  height: 1px;
  background-color: #ccc; }

a {
  color: #3b7fc4;
  text-decoration: none; }

sup {
  font-size: 80%;
  line-height: 100%; }

/*****************************************************************************/
/*
/* Home
/*
/*****************************************************************************/
.post-list-table {
  margin-top: 45px;
  display: table; }
  .post-list-table .row {
    display: table-row;
    line-height: 1.55em; }
    .post-list-table .row .cell {
      display: table-cell;
      padding-bottom: 0.75em;
      font-size: 20.8px; }
      .post-list-table .row .cell.date {
        color: #aaa;
        min-width: 82px;
        padding-right: 20px;
        text-align: right;
        font-size: 12.8px;
        word-spacing: -2px;
        vertical-align: top;
        float: none;
        font-family: monospace; }
      .post-list-table .row .cell.menuarticle a {
        display: block;
        color: #3b7fc4;
        font-family: "Source Sans Pro", "Open Sans", "Helvetica Neue", "Arial"; }
        .post-list-table .row .cell.menuarticle a:hover {
          color: #17191c; }

/*****************************************************************************/
/*
/* Site
/*
/*****************************************************************************/
.masthead {
  line-height: 1.5em;
  display: block;
  padding: 2em 0;
  text-align: left;
  background-color: #3b7fc4;
  border-bottom: 1px solid #234c76;
  box-shadow: 0px 5px 15px #ccc; }
  .masthead .masthead-container {
    min-height: 100px;
    max-width: 700px;
    margin: 0 auto; }
  .masthead:after {
    content: "";
    display: table;
    clear: both; }
  .masthead .rootlink-container {
    text-align: left;
    display: block;
    margin-bottom: 1em; }
  .masthead .rootlink {
    display: inline-block; }
    .masthead .rootlink .myname {
      display: inline-block;
      font-size: 56px;
      line-height: 100%;
      font-family: "Source Sans Pro", "Open Sans", "Helvetica Neue", "Arial";
      font-weight: 600;
      letter-spacing: -0.3px;
      color: #17191c;
      text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.8); }
    .masthead .rootlink .mydescription {
      display: inline-block;
      font-size: 20px;
      line-height: 100%;
      font-family: "Source Sans Pro", "Open Sans", "Helvetica Neue", "Arial";
      font-weight: 100;
      letter-spacing: -0.3px;
      color: #29333d; }
    .masthead .rootlink:hover .myname {
      color: #2e3338; }
  .masthead .subtitle {
    font-size: 22.4px;
    margin: 0;
    display: none; }
  .masthead .socialmedia {
    display: block;
    float: right;
    text-align: right;
    list-style: none; }
    .masthead .socialmedia li {
      display: inline-block;
      width: 39px;
      margin-right: 15px;
      line-height: 100%;
      text-align: center;
      font-size: 15.2px; }
      .masthead .socialmedia li:last-child {
        margin-right: 0; }
      .masthead .socialmedia li a {
        text-decoration: none;
        color: #aaa;
        display: inline-block;
        margin-left: auto;
        margin-right: auto; }
        .masthead .socialmedia li a:hover {
          color: #333;
          border: none; }
        .masthead .socialmedia li a.fa-github:hover {
          color: #77cc66; }
        .masthead .socialmedia li a.fa-envelope:hover {
          color: #dd4b39; }
        .masthead .socialmedia li a.fa-twitter:hover {
          color: #0893d9; }
        .masthead .socialmedia li a.fa-facebook-square:hover {
          color: #3b5897; }
        .masthead .socialmedia li a.fa-rss-square:hover {
          color: #ee7f2f; }
  .masthead .main-menu {
    display: block;
    float: left;
    padding: 0;
    margin: 0;
    list-style-type: none;
    line-height: 200%;
    text-align: left; }
    .masthead .main-menu li:hover {
      color: #17191c; }
    .masthead .main-menu a {
      color: #36404a; }
      .masthead .main-menu a li {
        padding: 0;
        margin-right: 30px;
        text-transform: lowercase;
        display: inline-block;
        font-size: 20.8px;
        font-weight: 300;
        -webkit-border-radius: 20px;
        -moz-border-radius: 20px;
        border-radius: 20px; }
      .masthead .main-menu a:last-child li {
        margin-right: 0; }

.content {
  display: block;
  max-width: 578px;
  padding-top: 4em;
  margin: 0 auto;
  font-size: 16px;
  padding-bottom: 50px; }
  .content h1 {
    color: #29333d;
    margin-bottom: 0;
    font-size: 40px;
    font-family: "Roboto Condensed", "Helvetica Neue", "Arial", sans-serif;
    font-weight: 700;
    text-align: left;
    line-height: 140%; }

.meta {
  color: #aaa;
  font-size: 16px;
  font-family: "Iowan Old Style", "Georgia", "Noto Sans", "Source Sans Pro", "Verdana", "Tahoma", "Hiragino Mincho Pro", "Arial Unicode MS", sans-serif;
  margin: 25px 0 50px 0;
  text-align: left; }

.title {
  display: inline-block;
  font-size: 48px;
  font-weight: 200;
  margin-bottom: 1.5em; }
  .title a {
    color: #035; }
  .title a:hover {
    color: #000; }

/*****************************************************************************/
/*
/* Posts
/*
/*****************************************************************************/
.post {
  padding-bottom: 2em;
  text-align: left;
  font-size: 19.2px;
  line-height: 150%;
  font-family: "Iowan Old Style", "Georgia", "Noto Sans", "Source Sans Pro", "Verdana", "Tahoma", "Hiragino Mincho Pro", "Arial Unicode MS", sans-serif;
  text-rendering: optimizeLegibility;
  -webkit-font-feature-settings: "kern";
  -moz-font-feature-settings: "kern=1";
  -ms-font-feature-settings: "kern" 1;
  font-feature-settings: "kern";
  /* terminal */ }
  .post h1,
  .post h2,
  .post h3,
  .post h4 {
    color: #29333d;
    font-weight: bold;
    font-family: "Roboto Condensed", "Helvetica Neue", "Arial", sans-serif;
    text-align: left; }
  .post p {
    text-align: left;
    margin: 1.25em 0; }
  .post a:hover {
    text-decoration: underline; }
  .post h2 {
    font-size: 24px;
    margin-top: 2.5em;
    margin-bottom: 1.5em; }
  .post h3 {
    font-size: 19.2px;
    margin-top: 1em;
    margin-bottom: 1em; }
  .post pre {
    background-color: #D1D1D0;
    overflow: auto;
    font-family: 'Monaco', monospace;
    padding: 0 1em; }
  .post ul, .post ol {
    padding-left: 1.5em;
    margin-left: 0.5em; }
  .post ul {
    list-style-type: disc; }
  .post ul li, .post ol li {
    margin-bottom: 0.5em; }
  .post ul.conversation {
    margin-left: 0;
    padding-left: 1em;
    list-style-type: none;
    color: #999;
    border-left: 10px solid #f1f1f1; }
  .post blockquote {
    border-left: 10px solid #f1f1f1;
    color: #999;
    /*margin-left: 1em;*/
    padding-left: 1em;
    font-style: italic; }
  .post code {
    font-family: Monaco, monospace;
    font-size: 16px;
    line-height: 100%;
    background-color: #eee;
    padding: 0 .2em;
    letter-spacing: -0.05em;
    word-break: normal;
    /*border-radius: 5px;*/ }
  .post pre code {
    border: none;
    background: none;
    font-size: 14px;
    line-height: 1em;
    letter-spacing: normal;
    word-break: break-all; }
  .post pre.terminal {
    border: 1px solid #000;
    background-color: #333;
    color: #FFF;
    font-size: 14.4px;
    word-break: break-all; }
  .post pre.terminal code {
    background-color: #333;
    word-break: break-all; }
  .post table {
    border-collapse: collapse;
    margin: 2em auto; }
  .post table td,
  .post table th {
    padding: 5px 15px;
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc; }
  .post .redtext {
    color: #f00; }
  .post .greytext {
    color: #aaa; }
  .post img {
    max-width: 100%; }
  .post img.rightimg,
  .post img.leftimg {
    margin-bottom: 5px;
    width: 45%; }
  .post img.rightimg {
    float: right;
    margin-left: 4%; }
  .post img.leftimg {
    float: left;
    margin-right: 4%; }

.post.static {
  padding-top: 18px; }

/*****************************************************************************/
/*
/* Footer
/*
/*****************************************************************************/
.footer {
  color: #999;
  border-bottom: 2px solid #eee;
  padding: 0.5em 0;
  font-size: 19.2px;
  line-height: 190%;
  text-align: center; }
  .footer i {
    font-size: 150%;
    vertical-align: middle; }
  .footer a:hover {
    text-decoration: none; }
  .footer a.facebook-share {
    color: #3b5897; }
    .footer a.facebook-share:hover {
      color: #708cc7; }
  .footer a.twitter-share {
    color: #0893d9; }
    .footer a.twitter-share:hover {
      color: #4ec0f9; }
  .footer a.google-share {
    color: #dd4b39; }
    .footer a.google-share:hover {
      color: #ec9a90; }
  .footer .follow-me-link {
    margin-left: 5px; }
    .footer .follow-me-link:hover {
      color: #89b2dc; }

.social {
  display: inline-block;
  margin: 0 0.5em; }

a.rsslink {
  transition: color 0.2s ease;
  color: #ff8b1a;
  text-decoration: none;
  font-size: 21.6px; }
  a.rsslink:hover {
    color: #444;
    border: none; }

/*****************************************************************************/
/*
/* Misc (for individual posts)
/*
/*****************************************************************************/
.memorytable {
  /*font-family: 'G', serif;*/
  font-family: 'Iowan Old Style', 'Georgia', 'Noto Sans', sans-serif;
  font-size: 17.6px;
  font-weight: 300;
  min-width: 85%; }

.arabic {
  font-family: 'Noto Naskh Arabic', 'Noto Sans', 'Tahoma', 'Arial Unicode MS', sans-serif;
  text-align: right; }

.arabic.trans {
  /*font-style: italic;*/
  font-family: 'Iowan Old Style', 'Noto Sans', 'Georgia', 'Tahoma', 'Arial Unicode MS', sans-serif;
  text-align: left; }

.big-center-ul {
  margin-left: 0 !important;
  padding-left: 0 !important;
  text-align: center; }
  .big-center-ul li {
    display: inline;
    font-size: 28.8px;
    margin-right: 0.6em; }
    .big-center-ul li:last-child {
      margin-right: 0; }

ul.aboutmelist {
  list-style-type: none;
  padding: 0;
  margin: 1.6em 0 0 0; }
  ul.aboutmelist li {
    margin: 0 0 0.5em 0; }
  ul.aboutmelist:before {
    font-family: inherit;
    /*content: '•';*/
    content: none;
    margin: 0;
    color: #ccc; }

.aboutmelist strong {
  font-weight: 600; }

.projectlist {
  /* Screenshots are all Grabbed at 2x size = 2200 by 1435 on retina */
  /* then resized to 300px wide */ }
  .projectlist a:hover {
    text-decoration: none;
    color: inherit; }
  .projectlist .container {
    margin-left: 170px; }
  .projectlist img {
    width: 150px;
    height: 98px;
    float: left;
    margin-top: 7px;
    padding-right: 1em; }

ul.projectlist {
  margin: 0;
  padding: 0;
  list-style-type: none; }
  ul.projectlist li {
    min-height: 110px;
    padding: 1em;
    transition: opacity 0.2s ease;
    opacity: 0.5;
    font-family: "Source Sans Pro", "Open Sans", "Helvetica Neue", "Arial"; }
    ul.projectlist li a {
      color: inherit;
      display: block; }
    ul.projectlist li:hover {
      background-color: #ecf4f9;
      color: #444;
      opacity: 1.0; }

span.projectlistheading {
  font-weight: 600;
  font-size: 19.2px; }

/* 
Tooltip
=========
 */
li.tooltip:after {
  content: attr(title);
  font-family: "Source Sans Pro", "Open Sans", "Helvetica Neue", "Arial";
  opacity: 0;
  position: absolute;
  margin-top: 50px;
  margin-left: -50px;
  width: 50px;
  height: 18px;
  padding: 7px;
  font-size: 13.12px;
  text-align: center;
  border-radius: 15px;
  position: absolute;
  color: #EEE;
  background-color: rgba(0, 0, 0, 0.7) !important;
  transition: all .3s; }
li.tooltip:hover:after {
  opacity: 1; }

/*****************************************************************************/
/*
/* Mobile CSS
/*
/*****************************************************************************/
/* iPhone size */
@media only screen and (max-width: 360px) {
  .content h1 {
    line-height: 120%; }

  .post {
    font-size: 16px; }

  .post ul, .post ol {
    margin-left: 0;
    padding-left: 1.2em; }

  .post table {
    max-width: 100%; } }
/* Smartphone screens <= 640px */
@media only screen and (max-width: 640px) {
  .post-list-table .row .cell {
    font-size: 16px; }
    .post-list-table .row .cell.date {
      min-width: 82px; }

  .content {
    width: auto;
    padding-left: 5%;
    padding-right: 5%;
    margin-left: 0; }
    .content h1 {
      font-size: 32px;
      line-height: 110%; }
    .content .meta {
      font-size: 16px; }

  .masthead .rootlink-container {
    text-align: center; }
    .masthead .rootlink-container .myname {
      font-size: 46.4px; }
  .masthead .socialmedia {
    float: none;
    text-align: center; }
    .masthead .socialmedia li {
      font-size: 12.8px;
      width: 23px; }
  .masthead .main-menu {
    float: none;
    text-align: center;
    margin-bottom: 1em; }
    .masthead .main-menu a li {
      margin-right: 5%;
      font-size: 17.6px; }

  .post img.rightimg,
  .post img.leftimg {
    width: 100%;
    float: none;
    display: block;
    margin-left: auto;
    margin-right: auto; }

  .projectlist .container {
    margin-left: 0; }

  ul.projectlist {
    text-align: center;
    padding: 0; }

  ul.projectlist li {
    padding-left: 0;
    padding-right: 0;
    opacity: 1; }

  .projectlist img {
    width: 150px;
    height: 98px;
    display: block;
    float: none;
    margin-right: auto;
    margin-left: auto;
    margin-top: 7px;
    margin-bottom: 7px;
    padding: 0;
    opacity: 0.2%;
    border: 1px solid #ccc;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.15); }

  ul.aboutmelist {
    margin-left: 0;
    padding-left: 0; }

  a.tooltip:hover span {
    display: none; }

  li.tooltip:after {
    display: none; } }
@media only screen and (min-width: 361px) and (max-width: 907px) {
  .post {
    font-size: 110%; } }
/* between 641px and 767px */
@media only screen and (min-width: 641px) {
  .content {
    width: auto; }

  .masthead .masthead-container {
    max-width: 578px; }
  .masthead .main-menu {
    margin: 0; }
    .masthead .main-menu li {
      width: auto; } }
/* default for everything under 907px */
@media only screen and (max-width: 907px) {
  .post img.rightimg,
  .post img.leftimg {
    width: 100%;
    float: none;
    display: block;
    margin-left: auto;
    margin-right: auto; } }
/* default for everything over 908 */
@media only screen and (min-width: 908px) {
  .content {
    max-width: 700px; }

  .masthead .masthead-container {
    max-width: 700px; } }

/*# sourceMappingURL=main.css.map */
