---
layout: layout
title: Blog
---

<div class="container" style="margin-top: 45px;">
<h3><strong>A Few Musings</strong></h3>
<center>To be notified of future posts, please <a href="https://feeds.feedburner.com/{{ site.feed }}"><i class="fa fa-fw fa-rss-square"></i>click here</a>.</center>
  <div class="panel panel-default">
    <div class="panel-body">
		{% for post in site.posts %}
		{% if post.share == true %}
			<div class="row">
				 <div class="col-sm-4 col-md-4 col-lg-4">
					 <h5 style="text-align: right">
					 	{{ post.date | date: "%B %e, %Y" }}
					 </h5>
				 </div>
				 <div class="col-sm-8 col-md-8 col-lg-8">
					 <h5 style="text-align: left">
					 	<strong><a href="{{ site.siteurl }}{{ post.url }}">{{ post.title }}</a></strong>
					 </h5>
				 </div>
			</div>
		{% endif %}
	    {% endfor %}
	</div>
  </div>
</div>