---
layout: layout
title: Blog
---

<div class="container" style="margin-top: 45px;">
<h3><strong>A Few Musings</strong></h3>
<center>To be notified of future posts, please <a href="https://feeds.feedburner.com/{{ site.feed }}"><i class="fa fa-fw fa-rss-square"></i>click here</a>.</center>
  <div class="panel panel-default">
    <div class="panel-body">
		{% for post in site.posts %}
		{% if post.share == true %}
			<div class="row">
					<h4 style="text-align: center" >
					 	<strong><a href="{{ site.siteurl }}{{ post.url }}">{{ post.title }}</a></strong>
					 </h4>

					 <h6 style="text-align: center; padding-bottom: 20px;">
					 	{{ post.date | date: "%B %e, %Y" }}
					 </h6>
					 
			</div>
		{% endif %}
	    {% endfor %}
	</div>
  </div>
</div>