    <div class="menu">
      <div class="menubg"></div>
      <div style="text-align:center">
        <a href="/" class="rootlink" style="display:block; outline:none; border:none;">
          <!-- <img src="/assets/profile.jpg" class="profilepic" /> -->
          <h1 class="myname">{{ site.name }}</h1>
        </a>
      </div>
      <p class="subtitle">{{ site.description }}</p>
      <ul class="static-page-menu">
        <li><a href="/">Blog</a></li>
        <li><a href="/projects">Projects</a></li>
        <li><a href="/about">About</a></li>
        <li><a href="/vitae">Vitae</a></li>
        <li><a href="/vitae">Contact</a></li>
        <!-- <li><a target="_blank" href="http://feedburner.google.com/fb/a/mailverify?uri=brendangriffen&amp;loc=en_US"> -->Subscribe</a></li>
      </ul>
      <ul class="socialmedia">
        <li><a href="http://github.com/bgriffen" class="fa fa-github fa" rel="nofollow"></a></li>
        <li><a href="&#109;&#97;&#105;&#108;&#116;&#111;&#58;brendan.f.griffen&#64;gmail.com" class="fa fa-envelope fa"></a></li>
        <!-- <li><a href="http://www.facebook.com/pearceseb" class="fa fa-facebook-square fa"></a></li> -->
        <li><a href="http://twitter.com/brendangriffen" class="fa fa-twitter fa"></a></li>
<!--         <li><a href="http://soundcloud.com/sebu" class="fa fa-music fa"></a></li> -->
        <li><a href="http://feeds.feedburner.com/brendangriffen" class="fa fa-rss-square fa"></a></li>
      </ul>
    </div> <!-- end of menu -->