<div class="footer">
If you would like to receive updates, please <a href="http://feeds.feedburner.com/brendangriffen">subscribe here</a>. <br> <br>
Share This: <span class="social">
    <a class="facebook-share" href="http://www.facebook.com/sharer/sharer.php?app_id=646320802089541&u={{ site.url }}{{ page.url }}/" onclick="javascript:window.open(this.href,
    '', 'menubar=no,toolbar=no,resizable=yes,scrollbars=yes,height=300,width=600');return false;">
      <i class="icon-icon-facebook"></i>
    </a>&nbsp;
    <a class="twitter-share" href="https://twitter.com/share?url=&text={{ page.title | escape_once }}+(via+@brendangriffen)" onclick="javascript:window.open(this.href,
    '', 'menubar=no,toolbar=no,resizable=yes,scrollbars=yes,height=260,width=600');return false;">
      <i class="icon-icon-twitter"></i>
    </a>&nbsp;
    <a class="google-share" href="https://plus.google.com/share?url={{ site.url }}{{ page.url }}/" onclick="javascript:window.open(this.href,
    '', 'menubar=no,toolbar=no,resizable=yes,scrollbars=yes,height=600,width=600');return false;">
        <i class="icon-icon-google"></i>
    </a>
  </span>
</div>

{% include analytics.html %}
