<meta property="og:url"           content="{{ site.url }}{{ post.url }}" />
  <meta property="og:type"          content="website" />
  <meta property="og:title"         content="Brendan Griffen" />
  <meta property="og:description"   content="Astrophysicist @ MIT" />
  <meta property="og:image"         content="http://www.your-domain.com/path/image.jpg" />
</head>

<div class="footer">
<body>

  <!-- Load Facebook SDK for JavaScript -->
  <div id="fb-root"></div>
  <script>(function(d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) return;
    js = d.createElement(s); js.id = id;
    js.src = "//connect.facebook.net/en_GB/sdk.js#xfbml=1&version=v2.5";
    fjs.parentNode.insertBefore(js, fjs);
  }(document, 'script', 'facebook-jssdk'));</script>

  <!-- Your share button code -->
  <center>
  <div class="share-buttons">
  <!-- Buffer -->
    <a href="https://bufferapp.com/add?url={{ site.url }}{{ post.url }}&amp;text={{ post.title }}" target="_blank">
        <img src="https://simplesharebuttons.com/images/somacro/buffer.png" alt="Buffer" />
    </a>
    
    
    <!-- Email -->
    <a href="mailto:?Subject={{ post.name }}&amp;Body=I%20saw%20this%20and%20thought%20of%20you!%20 {{ site.url }}{{ post.url }}">
        <img src="https://simplesharebuttons.com/images/somacro/email.png" alt="Email" />
    </a>
 
    <!-- Facebook -->
    <a href="http://www.facebook.com/sharer.php?u={{ site.url }}{{ post.url }}" target="_blank">
        <img src="https://simplesharebuttons.com/images/somacro/facebook.png" alt="Facebook" />
    </a>
    
    <!-- Google+ -->
    <a href="https://plus.google.com/share?url={{ site.url }}{{ post.url }}&amp;comment={{ post.title }}%20via%20@brendangriffen&amp;" target="_blank">
        <img src="https://simplesharebuttons.com/images/somacro/google.png" alt="Google" />
    </a>
    
    <!-- LinkedIn -->
    <a href="http://www.linkedin.com/shareArticle?mini=true&amp;url={{ site.url }}{{ post.url }}" target="_blank">
        <img src="https://simplesharebuttons.com/images/somacro/linkedin.png" alt="LinkedIn" />
    </a>
    
    <!-- Pinterest -->
    <a href="javascript:void((function()%7Bvar%20e=document.createElement('script');e.setAttribute('type','text/javascript');e.setAttribute('charset','UTF-8');e.setAttribute('src','http://assets.pinterest.com/js/pinmarklet.js?r='+Math.random()*99999999);document.body.appendChild(e)%7D)());">
        <img src="https://simplesharebuttons.com/images/somacro/pinterest.png" alt="Pinterest" />
    </a>
    
    
    <!-- Reddit -->
    <a href="http://reddit.com/submit?url={{ site.url }}{{ post.url }}&amp;title={{ post.title }}" target="_blank">
        <img src="https://simplesharebuttons.com/images/somacro/reddit.png" alt="Reddit" />
    </a>
    
    <!-- StumbleUpon-->
    <a href="http://www.stumbleupon.com/submit?url={{ site.url }}{{ post.url }}&amp;title={{ post.title }}" target="_blank">
        <img src="https://simplesharebuttons.com/images/somacro/stumbleupon.png" alt="StumbleUpon" />
    </a>
    
    <!-- Tumblr-->
    <a href="http://www.tumblr.com/share/link?url={{ site.url }}{{ post.url }}&amp;title={{ post.title }}" target="_blank">
        <img src="https://simplesharebuttons.com/images/somacro/tumblr.png" alt="Tumblr" />
    </a>
     
    <!-- Twitter -->
    <a href="https://twitter.com/share?url={{ post.title }}&amp;text={{ post.title }}%20via%20@brendangriffen&amp;" target="_blank">
        <img src="https://simplesharebuttons.com/images/somacro/twitter.png" alt="Twitter" />
    </a>
</div>
<br>
If you would like to receive updates, please <a href="http://feeds.feedburner.com/brendangriffen">subscribe here</a>. 
<br>
</center>
</body>
</div>

{% include analytics.html %}
