<div class="footer">

  Share:
  <span class="social">
    <a class="facebook-share" href="http://www.facebook.com/sharer/sharer.php?app_id=646320802089541&u={{ site.url }}{{ page.url }}/" onclick="javascript:window.open(this.href,
    '', 'menubar=no,toolbar=no,resizable=yes,scrollbars=yes,height=300,width=600');return false;">
      <i class="fa fa-facebook-square"></i>
    </a>&nbsp;
    <a class="twitter-share" href="https://twitter.com/share?url=&text={{ page.title | escape_once }}+(via+@brendangriffen)" onclick="javascript:window.open(this.href,
    '', 'menubar=no,toolbar=no,resizable=yes,scrollbars=yes,height=260,width=600');return false;">
      <i class="fa fa-twitter-square"></i>
    </a>&nbsp;
    <a class="google-share" href="https://plus.google.com/share?url={{ site.url }}{{ page.url }}/" onclick="javascript:window.open(this.href,
    '', 'menubar=no,toolbar=no,resizable=yes,scrollbars=yes,height=600,width=600');return false;">
        <i class="fa fa-google-plus-square"></i>
    </a>
  </span>
  <br>
  Follow: <strong><a class="follow-me-link" href="https://twitter.com/brendangriffen">@brendangriffen</a></strong>

</div>