<div class="topnav" id="myTopnav">
  <div class="container">
    <a href="{{ site.url }}"><i class="fa fa-home"></i></a>
  <a href="{{ site.url }}/about.html"">About</a>
  <a href="{{ site.url }}/blog.html">Blog</a>
  <a href="{{ site.url }}/biotech.html">Biotech</a>
  <a href="{{ site.url }}/astrophysics.html">Astrophysics</a>
  <a href="mailto:{{ site.email}}"><i class="fa fa-envelope"></i></a>
  <a href="http://github.com/{{ site.github }}"><i class="fa fa-github"></i></a>
  <a href="http://twitter.com/{{ site.twitter }}"><i class="fa fa-twitter"></i></a>
  <a href="http://linkedin.com/in/{{ site.linkedin }}"><i class="fa fa-linkedin"></i></a>
  <a href="http://stackoverflow.com/{{ site.stackoverflow }}"><i class="fa fa-stack-overflow"></i></a>
  <a href="https://feeds.feedburner.com/{{ site.feed }}"><i class="fa fa-rss-square"></i></a>
  <a href="https://medium.com/@{{ site.medium }}"><i class="fa fa-medium"></i></a>
  <a href="javascript:void(0);" class="icon" onclick="myFunction()">
  <i class="fa fa-bars"></i>
  </a>
</div>
</div>