

<div class="masthead">
  <div class="masthead-container">
    <div class="rootlink-container">
      <a href="/" class="rootlink">
        <h3 class="myname">{{ site.name }}</h3><br>
        <!--<h4 class="mydescription">{{ site.description }}</h4> -->
      </a>
    </div>
    <ul class="main-menu"><a href="/"><li>Blog</li></a>
      <a href="/projects/"><li>Projects</li></a>
      <a href="/about/"><li>About</li></a>
      <a href="/vitae/"><li>Vitae</li></a>
      <a href="/contact"><li>Contact</li></a>
        <!-- <li><a target="_blank" href="http://feedburner.google.com/fb/a/mailverify?uri=brendangriffen&amp;loc=en_US"> -->
      <!-- <a target="_blank" href="http://feedburner.google.com/fb/a/mailverify?uri=brendangriffen&amp;loc=en_US"><li>Subscribe</li></a> -->
    </ul>
    <ul class="socialmedia">
      <li title="GitHub"><a href="http://github.com/bgriffen" class="fa fa-github fa-2x" rel="nofollow"></a></li>
      <li title="Email"><a href="&#109;&#97;&#105;&#108;&#116;&#111;&#58;brendan.f.griffen&#64;gmail.com" class="fa fa-envelope fa-2x"></a></li>
      <li title="Twitter"><a href="http://twitter.com/brendangriffen" class="fa fa-twitter fa-2x"></a></li>
      <li title="RSS"><a href="http://feeds.feedburner.com/brendangriffen" class="fa fa-rss-square fa-2x"></a></li>
    </ul>
    <div style="clear:both;"></div>
  </div> <!-- end of masthead-container -->
</div> <!-- end of masthead -->

