  <!-- Twitter Cards -->
  <meta name="twitter:card" content="summary">
  <meta name="twitter:image" content="http://brendangriffen.com/assets/{{ page.image }}">
  <meta name="twitter:title" content="{{ page.title }}">
  <meta name="twitter:description" content="{{ page.description | escape_once }}">
  <meta name="twitter:creator" content="@_sebu_">

  <!-- Open Graph -->
  <meta property="fb:admins" content="673372761">
  <meta property="fb:app_id" content="646320802089541">
  <meta property="og:locale" content="en_US">
  <meta property="og:type" content="article">
  <meta property="og:image" content="http://sebpearce.com/assets/{{ page.image }}">
  <meta property="og:title" content="{{ page.title }}">
  <meta property="og:description" content="{{ page.description | escape_once }}">
  <meta property="og:url" content="{{ site.url}}{{ page.url }}/">
  <meta property="og:site_name" content="brendangriffen.com">