/* Main page with stikky-footer
-------------------------------------------------- */
html,
body {
  height: 100%;
  background-color: #fff;
  font-family: "Source Sans Pro", "Open Sans", "Helvetica Neue", "Arial";
  /* The html and body elements cannot have any padding or margin. */
  border-top: 3px solid #27A822;
  background-image: url(../../assets/background.jpg);
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
/* Wrapper for page content to push down footer */
#wrap {
  padding-bottom: 50px;	
  min-height: 100%;
  height: auto;
  /* Negative indent footer by its height */
  margin: 0 auto -65px;
  /* Pad bottom by footer height */
  /*padding: 0 0 60px;*/
}

/* Navbar
-------------------------------------------------- */

blockquote {
  background: #f9f9f9;
  border-left: 10px solid #ccc;
  margin: 1.5em 10px;
  padding: 0.5em 10px;
  quotes: "\201C""\201D""\2018""\2019";
}
blockquote:before {
  color: #ccc;
  content: open-quote;
  font-size: 4em;
  line-height: 0.1em;
  margin-right: 0.25em;
  vertical-align: -0.4em;
}
blockquote p {
  display: inline;
}

.simplelist {
  /* Screenshots are all Grabbed at 2x size = 2200 by 1435 on retina */
  /* then resized to 300px wide */ 
text-align: justify;}
  .simplelist .container {
    margin-left: 170px; 
    text-align: justify;}
  .simplelist img {
    width: 160px;
    height: 189px;
    float: left;
    margin-top: 7px;
    padding-right: 1em; }

ul.simplelist {
  margin: 0;
  padding: 0;
  list-style-type: none; 
  text-align: justify;}
  ul.simplelist li {
    min-height: 110px;
    padding: 1em;
    text-align: justify;
    transition: opacity 0.2s ease;
    opacity: 1.0;
    font-family: "Source Sans Pro", "Open Sans", "Helvetica Neue", "Arial"; }

span.simplelistheading {
  font-weight: 600;
  font-size: 19.2px; 
  text-align: left;
  }


.simplelistcontainer {
  width: auto;
  max-width: 800px;
  text-align: left;
}
.simplelistcontainer .text-muted {
  margin: 20px 0;
}
.simplelistcontainer a {
  color: #27A822;
}
.simplelistcontainer a:hover {
  color: #267723;
}

.projectlist {
  /* Screenshots are all Grabbed at 2x size = 2200 by 1435 on retina */
  /* then resized to 300px wide */ }
  .projectlist a:hover {
    text-decoration: none;
    color: hsl(76, 79%, 51%); }
  .projectlist .container {
    margin-left: 170px; }
  .projectlist img {
    width: 160px;
    height: 189px;
    float: left;
    margin-top: 7px;
    padding-right: 1em; }

ul.projectlist {
  margin: 0;
  padding: 0;
  list-style-type: none; }
  ul.projectlist li {
    min-height: 110px;
    padding: 1em;
    transition: opacity 0.2s ease;
    opacity: 1.0;
    font-family: "Source Sans Pro", "Open Sans", "Helvetica Neue", "Arial"; }
    ul.projectlist li a {
      color: inherit;
      display: block; }
    ul.projectlist li:hover {
      background-color: #e2e0d7;
      color: hsl(76, 89%, 51%);
      opacity: 1.0; }

span.projectlistheading {
  font-weight: 600;
  font-size: 19.2px; 
  text-align: left;
  }

 /* Add a black background color to the top navigation */
.topnav {
  color: #6b6b6b;
   background-color: #FFFFFF;
    overflow: hidden;
    position: fixed; /* Set the navbar to fixed position */
    top: 0; /* Position the navbar at the top of the page */
    width: 100%; /* Full width */
    border-color: hsl(76, 89%, 51%);
}

.topnav-right {
  float: right;
}

/* Style the links inside the navigation bar */
.topnav a {
   background-color: #FFFFFF;
    float: left;
    display: block;
    color: hsl(76, 79%, 51%);
    text-align: center;
    padding: 14px 17px;
    text-decoration: none;
    font-size: 17px;
    border-color: #ffffff;

}

/* Change the color of links on hover */
.topnav a:hover {
    background-color: #ddd;
    color: hsl(76, 89%, 51%);
}

/* Add an active class to highlight the current page */

/* Hide the link that should open and close the topnav on small screens */
.topnav .icon {
    display: none;
} 



 /* When the screen is less than 600 pixels wide, hide all links, except for the first one ("Home"). Show the link that contains should open and close the topnav (.icon) */
@media screen and (max-width: 600px) {
  .topnav a:not(:first-child) {display: none;}
  .topnav a.icon {
    float: right;
    display: block;
  }
}

/* The "responsive" class is added to the topnav with JavaScript when the user clicks on the icon. This class makes the topnav look good on small screens (display the links vertically instead of horizontally) */
@media screen and (max-width: 600px) {
  .topnav.responsive {position: relative;}
  .topnav.responsive a.icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
} 



pre {
  font-size:12px;
}
.navbar-static-top {
  margin-bottom: 10px;
}
.navbar-default {
  background-color: #ffffff;
  border-color: #ffffff;
}
.navbar-default .navbar-brand {
  color: #6b6b6b;
}
.navbar-default .navbar-brand:hover, .navbar-default .navbar-brand:focus {
  color: #267723;
}
.navbar-default .navbar-text {
  color: #6b6b6b;
}
.navbar-default .navbar-nav > li > a {
  color: #6b6b6b;
}
.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
  color: #267723;
}
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
  color: #267723;
  background-color: #ffffff;
}
.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus {
  color: #6b6b6b;
  background-color: #ffffff;
}
.navbar-default .navbar-toggle {
  border-color: #ffffff;
}
.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
  background-color: #ffffff;
}
.navbar-default .navbar-toggle .icon-bar {
  background-color: #6b6b6b;
}
.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
  border-color: #6b6b6b;
}
.navbar-default .navbar-link {
  color: #6b6b6b;
}
.navbar-default .navbar-link:hover {
  color: #6b6b6b;
}

.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}

@media only screen and (max-width: 768px) {
    /* For mobile phones: */
    [class*="col-"] {
        width: 100%;
    }

.frontcontainer h1 {
    font-size: 45px;
    font-weight: bold;
  
  padding-right: 15px;
  padding-left: 15px;

  }

.frontcontainer h3 {
  line-height: 1.2;
  padding-right: 15px;
  padding-left: 15px;
  }

  .img-circle {
   width: 120px;

  }
  .navbar-default .navbar-nav .open .dropdown-menu > li > a {
    color: #6b6b6b;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover, .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
    color: #6b6b6b;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a, .navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover, .navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
    color: #6b6b6b;
    background-color: #ffffff;
  }
}

/* Custom page CSS
-------------------------------------------------- */

.frontcontainer {
  position: static;
  text-align: center;
  color: #FFFFFF;
  margin: 120px 0px;
}

.frontcontainer h1 {
    font-size: 45px;
    font-weight: bold;
  }

.frontcontainer h3 {
  line-height: 1.2;
  }
  
.frontcontainer .text-muted {
  margin: 0px 0px;
}
.frontcontainer a {
  color: hsl(76, 79%, 51%);
}
.frontcontainer a:hover {
  color: hsl(76, 89%, 51%);
}

.listcontainer {
  width: auto;
  max-width: 800px;
  text-align: left;
}
.listcontainer .text-muted {
  margin: 20px 0;
}
.listcontainer a {
  color: hsl(76, 79%, 51%);
}
.listcontainer a:hover {
  color: hsl(76, 89%, 51%);
}

.container {
  width: auto;
  max-width: 800px;
  text-align: center;
  background-color: #FFFFFF;

}
.container .text-muted {
  margin: 20px 0;
}
.container a {
  color: #27A822;
}
.container a:hover {
  color: #267723;
}
.img-responsive {
 display: block;
 height: auto;
 max-width: 100%;
}
.panel-default h4 {
  text-align: left;
  line-height: 24px;
  font-size: 22px;
}
.panel-default h5 {
  text-align: left;
  line-height: 30px;
  font-size: 18px;
}
.panel-default h6 {
  font-size: 15px;
}

.panel{
  border-style: none;
}
.panel-body {
  padding-top: -10px;
  text-align: left;
}


}

.socialsmall {
  padding-top: 12px;
  word-spacing: 25px;
}
.socialsmall h4 > a {
  color: #6b6b6b;
}
.social {
  padding-top: 12px;
  word-spacing: 25px;
}
.social h4 > a {
  color: #FFFFFF;
}

.fa-rss-square  {
  color: #B4F112;
}
.fa-twitter {
  color:#32CCFE;
}
.fa-github  {
  color: :#070709;
}
.fa-envelope  {
  color: #01FC14;
}
.fa-stack-overflow  {
  color:#FF7300;
}
.fa-linkedin  {
  color: #0085AE;
}

.avatar {
  padding-top: 5%;
}
.blog-post{
  padding-top: 15px;
}
.blogpost h1 {
  font-size: 25px;
  font-weight: bold;
}
.blogpost h2 {
  font-size: 22px;
  font-weight: bold;
}
.blogpost h3 {
  font-size: 20px;
  font-weight: bold;
}
.blogpost h4 {
  font-size: 18px;
  font-weight: bold;
}
.blog-title{
  padding-top: 2px;
}
.related-posts h4 {
  text-align: center;
}
.page-not-found {
  padding-top: 20%;
}
.disqus {
  padding-bottom: 15px;
}

.blogpost{
  text-align: left;
  line-height: 30px;
  font-size: 18px;
  max-width: 100%
} 



img { 
  margin: 0 auto;
  max-width:  100%; 
  display: block;
}

/* Footer 
-------------------------------------------------- */


.footerfront {
  color: #FFFFFF;

}
.text-muted-front {
  color: #FFFFFF;
  text-align: center;
  position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
}
.text-muted-front a {
  color: hsl(76, 79%, 51%);
}
.text-muted-front a:hover {
  color: hsl(76, 89%, 51%);
}

.footer {
  text-decoration: none !important;
}
.text-muted {
	color: #6b6b6b;
}
div.footer{
  border-bottom: 5px solid #27A822;;
}
/* Set the fixed height of the footer here */
/*.footer {
  height: 50px;
  padding-bottom: 15px;
  
}*/