---
layout: layout
---

<head>
	<meta http-equiv="Content-type" content="text/html; charset=utf-8">

	<script type="text/javascript" charset="utf-8" src="http://code.jquery.com/jquery-1.8.3.min.js"></script>
	<script type="text/javascript" charset="utf-8" src="{{ "/static/js/jquery.readingTime.js" | relative_url }}"></script>
	<script type="text/javascript" charset="utf-8">
	$(document).ready(function(){
		
		$('.blogpost').readingTime();

	});
	</script>
</head>

<div class="container">
	<div class="blog-post">
		<h3>
		  <strong><a href="{{ page.url }}">{{ page.title }}</a></strong>
		</h3>
	</div>
	<div class="blog-title">
		<h4>
		<strong>{{ page.date | date: "%B %e, %Y" }}</strong>
			&nbsp;&nbsp;
			{% for tag in page.tags %}
			 <span class="label label-success">{{ tag }}</span>
			{% endfor %}
		</h4>
	</div>
	<div class="panel panel-default">
		<div class="panel-body">
			<div class="blogpost">
			

			  {{ content }}
			  <hr>
			  <center>To be notified of future posts, please <a href="https://feeds.feedburner.com/{{ site.feed }}"><i class="fa fa-fw fa-rss-square"></i>click here</a>.</center>
			  {% include social-small.html %}

			   <div class="related-posts">
			   <hr>
				   <h5><strong>Related Posts</strong></h5>
				   {% for post in site.related_posts limit:3 %}
						<div class="row">
							 <div class="col-sm-4 col-md-4 col-lg-4">
								 <h6 style="text-align: right">
								 	{{ post.date | date: "%B %e, %Y" }}
								 </h6>
							 </div>
							 <div class="col-sm-8 col-md-8 col-lg-8">
								 <h6 style="text-align: left">
								 	<strong><a href="{{ site.url }}{{ post.url }}">{{ post.title }}</a></strong>
								 </h6>
							 </div>
						</div>
					{% endfor %}
			   </div>
			</div>
		</div>
	</div>
	{% include disqus.html %}
</div>
