---
layout: layout
---


<head>
	<meta http-equiv="Content-type" content="text/html; charset=utf-8">

	<script type="text/javascript" charset="utf-8" src="http://code.jquery.com/jquery-1.8.3.min.js"></script>
	<script type="text/javascript" charset="utf-8" src="jquery.readingTime.js"></script>
	<script type="text/javascript" charset="utf-8">
	$(document).ready(function(){
		
		$('.blogpost').readingTime();
		
	});
	</script>

	<!-- Bootstrap -->
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha256-MfvZlkHCEqatNoGiOXveE8FIwMzZg4W85qfrfIFBfYc= sha512-dTfge/zgoMYpP7QbHy4gWMEGsbsdZeCXz7irItjcC3sPUFtf0kuFbDz/ixG7ArTxmDjLXDmezHubeNikyKGVyQ=="
    crossorigin="anonymous">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

	<!-- Custom styles for this template -->
    <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}static/css/main.css" />
	<link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:200,400,200bold,400old" />
  <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}static/css/syntax.css" />
  <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" />
  <link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.8.0/styles/monokai-sublime.min.css">
  <script src="http://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.8.0/highlight.min.js"></script>
   <script>hljs.initHighlightingOnLoad();</script>
   
</head>

<div class="container">
	<div class="blog-post">
		<h3>
		  <strong><a href="{{ page.url }}">{{ page.title }}</a></strong>
		</h3>
	</div>
	<div class="blog-title">
		<h4>
		<strong>{{ page.date | date: "%B %e, %Y" }}</strong>
			&nbsp;&nbsp;
			{% for tag in page.tags %}
			 <span class="label label-success">{{ tag }}</span>
			{% endfor %}
		</h4>
	</div>
	<div class="panel panel-default">
		<div class="panel-body">
			<div class="blogpost">
			
            
			  {{ content }}
			  <hr>
			  <center>To be notified of future posts, please <a href="https://feeds.feedburner.com/{{ site.feed }}"><i class="fa fa-fw fa-rss-square"></i>click here</a>.</center>
			  {% include social-small.html %}

			   <div class="related-posts">
			   <hr>
				   <h5><strong>Related Posts</strong></h5>
				   {% for post in site.related_posts limit:3 %}
						<div class="row">
							 <div class="col-sm-4 col-md-4 col-lg-4">
								 <h6 style="text-align: right">
								 	{{ post.date | date: "%B %e, %Y" }}
								 </h6>
							 </div>
							 <div class="col-sm-8 col-md-8 col-lg-8">
								 <h6 style="text-align: left">
								 	<strong><a href="{{ site.url }}{{ post.url }}">{{ post.title }}</a></strong>
								 </h6>
							 </div>
						</div>
					{% endfor %}
			   </div>
			</div>
		</div>
	</div>
	{% include disqus.html %}
</div>
